* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #3f3f3f;*/
}
.container {
  width: 620px;
  margin: 10px auto;
}
.card {
  background-color: #666;
  color: #fff;
  box-shadow: 5px 5px 10px #333;
}
.card__main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 20px;
}
.card__line {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.card__label {
  margin-right: 10px;
  flex-shrink: 1;
  align-self: flex-start;
  font-size: 18px;
  font-family: tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
  font-weight: bold;
  border-bottom: 2px dotted #00e9ca;
}
.card__value {
  width: 250px;
}
.card__img {
  width: 40%;
  height: 100%;
}